<!-- ejs_views/homePage.ejs -->

<!doctype html>
<html lang = "en">

<!-- displays head.ejs-->
<head>
    <!-- <% include head %> 

    <!-- JQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <!-- CSS STYLE -->
    <base href="/">
    <link href= "/assets/style.css" rel="stylesheet" type="text/css" />
    
    <!-- FOR GOOGLE MAP -->
    <style>
        #map{
            height:400px;
            width: 100%;
        }
        #origin-input, #destination-input{
            background-color: #fff;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 300;
            margin-left: 12px;
            padding: 0 11px 0 13px;
            text-overflow: ellipsis;
            width: 200px;
        }
        #origin-input:focus, #destination-input:focus{
            border-color:#4d90fe;
        }        
    </style>
</head>

<!-- displays header.ejs-->
<body class = "container">
<header>
    <% include header %>
</header>

<!-- Edit the body of the front end here-->
<main>
    <!--Going to insert a search bar for the maps-->
    
    <!--The first function is to use autocomplete-->
    <div style="display: none">
        <input id="origin-input" class="controls" type="text"
            placeholder="=Enter an origin location">
        <input id="destination-input" class="controls" type="text"
            placeholder="Enter a destination location">
    </div>

    <div id = "map"></div>

    <form id="routing">
        <div id = "Starting">
                Starting Location:<br>
                <div class="autocomplete" id = 'autocomplete1'>
                    <input id = "starttext" type="text" placeholder="What is your starting location?" >
                    <span class = "close">Cancel</span>
                    <div class= "dialog" id = 'dialog1'></div>
                </div>
        </div>
        <div id = "Ending">
                Ending Location<br>
        <div class="autocomplete" id = 'autocomplete2'>
            <input id = "endtext" type="text" placeholder="What is your ending location?" >
            <span class = "close">Cancel</span>
            <div class= "dialog" id = 'dialog2'></div>
        </div>
        </div>
        
    </form>

    <!-- <div>
        <button type="submit" form = "routing" value = "submit"> Get Route </button>
    </div> -->
        <button id="clear">Clear</button>
        <button id="search">Search</button>
        <button id="get">Get Directions</button>
    <script>
        $(function firstBox(){
            var alreadyFilled = false;
            
            //Initialize autofill box with 
            function initDialog(){
                clearDialog();
                <% for (const location of results) { %>
                     $('#dialog1').append('<div>' + '<%= location.title %>' + '<div>');
                <% } %>
            }

            function clearDialog(){
                $('#dialog1').empty();
            }
            
            $('#autocomplete1 input').click(function(){
                if(!alreadyFilled){
                    $('#dialog1').addClass('open');
                }
            });

            $('body').on('click', '#dialog1 > div', function(){
                $('#autocomplete1 input').val($(this).text()).focus();
                $('#autocomplete1 .close').addClass('visible');
                alreadyFilled = true;
            });

            $('#autocomplete1 .close').click(function() {
                alreadyFilled = false;
                $('#dialog1').addClass('close');
                $('#autocomplete1 input').val('').focus();
                $(this).removeClass('visible');
            });

        function match(str) {
            str = str.toLowerCase();
            clearDialog();
 
            <% for (const location of results) { %>
                if( '<%= location.title %>'.toLowerCase().startsWith(str)){
                    $('#dialog1').append('<div>' + '<%= location.title%>' + '</div>');
                }
            <% } %>
        }

            $('#autocomplete1 input').on('input', function(){
                $('#dialog1').addClass('open');
                alreadyFilled = false;
                match($(this).val());
            });

            $('body').click(function(e){
                if(!$(e.target).is('input, .close')){
                    $('#dialog1').removeClass('open');
                }
            });
            initDialog();
        })
        $(function secondBox(){
            var alreadyFilled = false;
            
            //Initialize autofill box with 
            function initDialog(){
                clearDialog();
                <% for (const location of results) { %>
                     $('#dialog2').append('<div>' + '<%= location.title %>' + '<div>');
                <% } %>
            }

            function clearDialog(){
                $('#dialog2').empty();
            }
            
            $('#autocomplete2 input').click(function(){
                if(!alreadyFilled){
                    $('#dialog2').addClass('open');
                }
            });

            $('body').on('click', '#dialog2 > div', function(){
                $('#autocomplete2 input').val($(this).text()).focus();
                $('#autocomplete2 .close').addClass('visible');
                alreadyFilled = true;
            });

            $('#autocomplete2 .close').click(function() {
                alreadyFilled = false;
                $('#dialog2').addClass('open');
                $('#autocomplete2 input').val('').focus();
                $(this).removeClass('visible');
            });

        function match(str) {
            str = str.toLowerCase();
            clearDialog();
 
            <% for (const location of results) { %>
                if( '<%= location.title %>'.toLowerCase().startsWith(str)){
                    $('#dialog2').append('<div>' + '<%= location.title%>' + '</div>');
                }
            <% } %>
        }

            $('#autocomplete2 input').on('input', function(){
                $('#dialog2').addClass('open');
                alreadyFilled = false;
                match($(this).val());
            });

            $('body').click(function(e){
                if(!$(e.target).is('input, .close')){
                    $('#dialog2').removeClass('open');
                }
            });
            initDialog();
        })
    </script>


    <!-- Initialize map with markers from the DB -->
    <script> 
        function initMap(){

            var directionsDisplay = new google.maps.DirectionsRenderer();
            var directionsService = new google.maps.DirectionsService();
            
            //Map Options to dictate zoom and position
            var options = {
                zoom: 16, 
                center: {lat:35.6543936, lng: -97.4714266}
            }
            //init map for view
            var map = new google.maps.Map(document.getElementById('map'), options);
                    
            //Loop through DB and add markers
            <% for (const location of results) { %>
                addMarker({coords:{lat: <%=location.lat%>, lng: <%=location.lng%> }, title: '<%=location.yitle%>' });
            <% } %>
             
            //Add Marker Function
            function addMarker(props){
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map:map,
                    title: props.title
                })
            }
            
            directionsDisplay.setMap(map);

            function calculateRoute(startLat, startLng, endLat, endLng){

               var request = {
                    origin: new google.maps.LatLng(startLat, startLng),
                    destination: new google.maps.LatLng(endLat, endLng),
                    travelMode: 'WALKING'
               }

               directionsService.route(request, function(result, status){
                   if( status == 'OK'){
                       directionsDisplay.setDirections(result);
                   }

               });
            }

            function clearRoute(){
                directionsDisplay.set('directions', null)
                document.getElementById('starttext').value = ''
                document.getElementById('endtext').value = ''
            }

            var start, end

            document.getElementById('get').onclick= function(){
                start = document.getElementById("starttext").value;
                end = document.getElementById("endtext").value;
        
                var startLat, startLng, endLat, endLng;


                <% for (const location of results) { %>
                    if(start == '<%= location.title%>'){
                        startLat = <%=location.lat%>
                        startLng = <%=location.lng%>
                    }
                    if(end == '<%= location.title%>'){
                        endLat = <%=location.lat%>
                        endLng = <%=location.lng%>
                    }
                <% } %>
                calculateRoute(startLat, startLng, endLat, endLng);
            }

            document.getElementById('clear').onclick= function(){
                clearRoute();
            }

            var searchLat, searchLng
            document.getElementById('search').onclick= function(){
                start = document.getElementById("starttext").value;
               
                <% for (const location of results) { %>
                    if(start == '<%= location.title%>'){
                        searchLat = <%=location.lat%>
                        searchLng = <%=location.lng%>
                        // startCoords = new google.maps.LatLng(35.6543936, -97.4714266)
                    }
                  
                <% } %>
                
                moveToLocation(searchLat, searchLng);
            }

            function moveToLocation(searchLat, searchLng){
                console.log(searchLat);
                var center = new google.maps.LatLng(searchLat,searchLng);
                map.panTo(center);
            }
        }
    </script>
    

</main>

<!-- displays footer.ejs-->
<footer>
    <% include footer %>
</footer>

<!-- Google Maps Script -->
<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAftGHvJnejXQm5k1jiLiBRsRwm5SXqzm8&callback=initMap"></script>-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAftGHvJnejXQm5k1jiLiBRsRwm5SXqzm8&callback=initMap"></script>


</body>
</html>
